@font-face {
  font-family: 'Bebas-Neue';
  src: url('../Stylesheets/BebasNeue_Bold.ttf');
}
.background {
  background-image: url("../images/White_House.png"); margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}
#img {
}

}
table, th, td {
  border: 1px solid black;
  text-align: left;
}
h3 {
  padding-bottom: 5px;
  padding-top: 5px;
}
body {
  font-family: lato;
  background: #e2e2e2;
}
:visited {
  color: navy;
}
#h1 {
  font-family: 'Bebas-Neue';
  font-size: 10em;
  margin-left: 40px;
}
.indent {
  margin-left: 40px;
  margin-right: 40px;
}
.border {
  border-bottom: black;
  border-bottom-style: dashed;
  padding-bottom: 30px;
}
.list {
  margin-left: 60px;
}
.footer {
  display: block;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .tablediv {
    overflow-x:auto;
  }
}
.table {
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 680px;
}
